*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
header{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
              url("home_bg (1).jpeg") center/cover no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.divv{
    margin-top: 40px;
    display: flex;
    justify-content: end;
    justify-content: space-around;

}
.navbar{
     margin-top: 10px;
     justify-content: space-around;
     
}
.navbar img{
    width: 100px;
    height: 100px;
    display: flex;
    margin-right: 600px;
    justify-content: flex-start;
    
}
.list ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.list ul li a{
    text-decoration: none;
    color: white;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 12px 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.list ul li a:hover{
    color: gold;
    transition: 2s;
}
.content{
    margin-bottom: 200px;
    align-items: center;
}
.content h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 50px;
    
}
.content h1 span{
    color: gold;
}
.content p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
    color: lightgray;
       
}

.list{
    display: inline-block;
    
}
.content a{
    text-decoration: none;
    color: white;
    border: 0.5px solid gold;
    border-radius: 10px;
    display: inline-block;
    padding: 15px 30px;
    margin: center;
    margin-left: 690px;

}
.content a:hover{
    color: yellow;
    transition: 2s;
}
main {
    background: #f4f4f4;
    padding: 3rem 0;
}

.text {
    background: #f4f4f4;
    width: 85%;
    margin: auto;
    text-align: center;
}

.text h1 {
    font-size: 40px;
    margin-bottom: 0.5rem;
    color: #333;
}

.text h2 {
    color: gray;
    font-size: 20px;
    margin-bottom: 2rem;
}

.mainn {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
    margin-top: 2rem;
}


.righttext {
    flex: 1;
    text-align: left;
}

.righttext p {
    line-height: 1.7;
    color: #444;
}

.bottom2 {
    display: inline-block;
    background: #2b2b4b;
    color: white;
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
    margin-top: 1rem;
    text-decoration: none;
}
.bottom2:hover {
background: #383848;
}

.photo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.photo img {
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    object-fit: cover;
}

.ad{
    background-image: url("offer-background (1).jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 4 rem 0;
    background-color: #2b2b4b;
    height: 600px;
    align-content: center;

}
.an h1{
    color: goldenrod;
    text-align: center;
    font-size: 40px;
    
    font-family: Arial, Helvetica, sans-serif;
}
.an p{
    color: #fff;
    text-align: center;
    font-size: 15px;
    margin-top: 2rem;
}
.dishes{
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 2rem;

}
.dishes img{
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    margin-left: 100px;
}
.dishes img:hover{
    transform: rotate(10.08deg);
    transition: 0.5s;
}
.dishes h3{
    font-size: 22px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.dishes p{
  color: #ddd;
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 1.5;
    text-align: center;
}
.ux p {
    color: #ccc;
  
}
.ux span{
    color: gold;
    font-weight: 600;
    font-size: 18px;
    margin-left: 5px;
}
.ux span:hover{
    transform: scale(1.08);
    filter: brightness(1.15);
}

.containerr{
    background: #f4f2ed;
    width: 100%;
    height: 100%;
}


.tx h1{
    color: #383848;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    margin-top: 15px;
}
.tx p{
    color: black;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    color: #9a9a9a;
    font-weight: 500;

}
.imgg{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 10px;
    padding: 50px;
   
}
.imgg img{
    width: 70px;
}
.imgg img:hover{
    transform: rotate(10.08deg);
    transition: 0.10s;
}

.imgg h3{
    position: relative;
    left: 150px;
    bottom: 70px;
    color: #383848;
    border-bottom: 1px dashed #c2bdbd;
    padding-bottom: 10px;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;

}
.imgg p{
    position: relative;
    left: 150px;
    bottom: 70px;
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
}
.primary-textt {
    position: absolute;
    left: 400px;
    display: flex;
    justify-content: space-between;
    top: 0;
    color: goldenrod;
}
.primary-textt:hover{
    transform: scale(1.08);
    filter: brightness(1.15);
}
.containerr a{
   
    color: white;
    background-color: goldenrod;
    border-radius: 10px;
    display: block;
    padding: 15px 30px;
    width: 250px;
    margin-top: 20px;
    text-align: center; 
    margin: auto;
    text-decoration: none;
    
}
.containerr a:hover{
    background-color: darkorange;
    color: black;
    transition: 2s;
}
.daytime {
    background: url("daytime_bg (1).jpeg") center center/cover fixed no-repeat;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}

.daytime {
    display: flex;
    justify-content: center;
    gap: 120px; 
}


.daytime-item {
    display: inline-block;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.daytime-item img {
    display: inline-block;
    width: 80px;
    margin-bottom: 15px;
}


.daytime-item h3 {
    display: inline-block;
    font-size: 32px;
    margin-top: 20px ;
    gap: 10px;
    text-align: center;
}


.daytime-item p {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}


#gallery {
    background: url("offer-background (1).jpg") center center/cover;
    padding: 8rem 0 6rem;
}
#gallery h2 {
    font-size: 40px;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}
#gallery .img-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#gallery .img-gallery img {
    margin: 20px;
    width: 280px;
    height: 200px;
    border-radius: 15px;
    opacity: 0.8;
}
#gallery .img-gallery img:hover {
    opacity: 1;
}
#contact {
    background: #f4f2ed;
    padding:0 15rem ;
    
}
#contact .container {
    max-width: 900px;
}

#contact .contact-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#contact .contact-info {
    width: 50%;
}
form {
    width: 50%;
}
#contact .contact-info div {
    margin: 30px 0;
    line-height: 1.7;
}
#contact .contact-info h3 {
    font-size: 28px;
    color: #383848;
    margin-bottom: 10px;
}
#contact .contact-info p {
    color: #9a9a9a;
}
#contact .contact-info p i {
    color: #e4b95b;
    margin-right: 5px;
}
#contact .contact-info a i {
    color: #fff;
    background: #383848;
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
}
#contact .contact-info a i:hover {
    background-color: #e4b95b;
    color: #383848;
}
form input,
textarea {
    display: block;
    width: 100%;
    padding: 20px 15px;
    margin: 20px 0;
    border: none;
    background-color: #e3e2dd;
}
form input:focus,
textarea:focus {
    outline: none;
}
form button {
    color: #fff;
    background-color: goldenrod;
    width: 150px;
    height: 50px;
    border: none;
    text-align: center;
    border-radius: 7px;
} 
#footer {
    background-color: #383848;
    text-align: center;
    color: #fff;
    padding: 15px 0;
    font-size: 14px;
}
@media (max-width: 1000px) {

    .righttext h1 {
        font-size: 34px;
    }

    .righttext h2 {
        font-size: 22px;
    }

    .righttext p {
        font-size: 16px;
        line-height: 1.7;
    }

    .img img {
        width: 80%;
        max-width: 400px;
    }
}
@media (max-width: 600px) {

    .righttext h1 {
        font-size: 28px;
    }

    .righttext h2 {
        font-size: 20px;
    }

    .righttext p {
        font-size: 14px;
        line-height: 1.6;
    }

    .img img {
        width: 90%;
        max-width: 300px;
    }
}
